{
  "presets": ["react-native", "flow"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [
          ".js",
          ".ios.js",
          ".android.js",
          ".gql"
        ]
      }
    ]
  ]
}
